.Container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Content {
    display: flex;
    flex: 1;
}

.Fab {
    position: absolute;
    bottom: 24px;
    left: 0%;
    right: 0%;
    text-align: center;
    z-index: 10;
}